<!DOCTYPE html>
{% import 'includes/macro.twig' as component %}
<html>
    <head>
        {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <title>Maison des Ligues</title> 
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/toastr.min.css" rel="stylesheet" >
        {# A ajouter si c'est dans un dossier (dans ce cas mdl)
        <base href="mdl"> 
        #}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}

        {% block javascript %}
            <script src="js/jquery-3.2.1.js"></script>
            <script src="js/ajax.js"></script>
            <script src="js/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.options = {
                  "closeButton": true,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-bottom-right"
                };
            </script>
        {% endblock %}
    </body>
</html>